<%= render partial: "static_pages/nav", locals: {user: @user, users_levels: @user.users_levels, users_test_levels: @user.users_test_levels, active: "users_levels"} %>

<div id="content">
	<div id="progress">
		<h2>Progress on Levels</h2>	
		<ul id="progress-list">
			<% @users_levels.each do |users_level| %>
			<li class="level-info">
				<div class="user-level-name">
					<%= link_to "#{users_level.level.name}", users_level_path(users_level) %>
				</div><!--
			--><div class="user-level-progress">
					<progress class="user-level-bar" value="<%= users_level.learned_points %>" max="<%= users_level.total_points %>"></progress>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>