@import 'variables';

form#new_note, form.edit_note {
	width: 600px;
	color: $medium-color;
	input {
		padding: 4px;
		width: 100%;
		display: inline-block;
		margin: 0;
		margin-bottom: 4px;
	}
	#note_text {
		display: block;
		width: 100%;
		height: 3em;
		margin-bottom: 4px;
		background-color: $light-color;
	}
	#note_source {
		width: 80%;
	}
	#note_public {
		display: inline-block;
		width: 24px;
		height: 24px;
		border: 1px solid black;
		vertical-align: middle;
	}
}

.note-text-edit {
	display: none;
}

.note-text {
	display: inline-block;
	width: 80%;
}

.edit-note-link {
	display: inline-block;
	width: 10%;
	text-align: right;
}

.delete-note-link {
	display: inline-block;
	width: 10%;
	text-align: right;
}
