@import 'variables';

/*//////////////////// General //////////////?*/
* {
  color: $black-color;
}

/*/////////////////// Background /////////////*/
#background {
  width: 100%;
}

#background img {
  min-width: 100%;
  z-index: -1;
  position: fixed;
  top: -100px;
}

/*////////////////////// Top Bar /////////////*/

#header {
  width: 100%;
  height: 48px;
  background-color: $primary-color;
  position: fixed;
  top: 0px;
  z-index: 99;
  box-sizing: border-box;
}

#header a:link {
  color: white;
}

#header a:visited {
  color: white;
}

#header div {
  display: inline-block;
  color: white;
}

#left-header {
  overflow: auto;
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  height: 100%;
}

#title {
  margin: 5px;
  color: #eee;
  padding: 0;
}

.icon {
  margin: 6px;
}

#right-header {
  overflow: auto;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: right;
}

#right-header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

#right-header-list li {
  display: inline;
  vertical-align: middle;
}

#right-header-list li a {
  display: inline-block;
  vertical-align: middle;
}

#user-picture img {
  height: 36px;
  width: auto;
  border-radius: 100%;
  vertical-align: middle;
}

/* Icon Fonts */
@font-face {
  font-family: 'Icomoon';
  src:font-url('icomoon.eot');
  src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
    font-url('icomoon.svg#icomoon') format('svg'),
    font-url('icomoon.woff') format('woff'),
    font-url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#log-out-icon:before {
  content: '\e618';
  font-family: 'Icomoon';
  speak: none;
  font-size: 32px;
  color: #eee;
}

#profile-icon:before {
  content: '\e60c';
  font-family: 'Icomoon';
  speak: none;
  font-size: 32px;
  color: #eee;
}

/* User-specific nav bar */
#nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 36px;
  position: relative;
  font-size: 0px;
}

#nav-bar:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#nav-bar:first-child {
  left: 10px;
}

#nav-bar li {
  padding: 4px;
  border: 1px solid $primary-color;
  border-bottom: 0;
  background-color: #a0c0f0;
  opacity: 0.9;
  display: inline-block;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#nav-bar li.selected {
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

#nav-bar li img {
  height: 35px;
  border-radius: 100%;
  vertical-align: middle;
}

/* Main Container */

.container {
  width: 90%;  
  margin-bottom: 40px;
  margin: 0 auto;
  top: 88px;
  position: relative;
  box-sizing: border-box;
}

#content { 
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  border: 1px solid $primary-color;
  border-top: 0;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 1;
}

/*////////////////// Links ///////////////*/

a:link {
  color: $primary-color;
  text-decoration: none;
}

a:visited {
  color: $primary-color;
}

a:hover {
  color: grey;
}

li a:link {
  color: $primary-color;
}

/*//////////////////// FORMS /////////////////////*/

input {
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: $light-color;
  border: 1px solid $medium-color;
  padding: 12px;
  margin: 0 auto;
  color: $primary-color;
  box-sizing: border-box;
  font-weight: bold;
}

textarea {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: $primary-color;
  border-radius: 4px;
  background-color: white;
  border: 1px solid $medium-color; 
  box-sizing: border-box;
  resize: none;
}

#session_email {
  border-bottom: none;
}

::-webkit-input-placeholder {
   color: $medium-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $medium-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $medium-color;  
}

:-ms-input-placeholder {  
   color: $medium-color;  
}

input[type="submit"] {
  color: $light-color;
  border: 1px solid $primary-color;
  background-color: $medium-color;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  height: 43px;
  box-sizing: border-box;
}

/* Login page */
#login-page {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding: 20px;
  border: 1px solid $primary-color;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 1;
  input {
    width: 100%;
  }
}

#login-page h1 {
  text-align: center;
}

#login-page p {
  text-align: center;
}
